<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  
  <link rel="stylesheet" href="/app.css">
  <title>Tweets Search Application</title>
</head>
<body>
  <div id="root"><%initialContent%></div>

  <script src="/bundle.js" charset="utf-8"></script>
</body>
</html>