.gridItem{
    float: left;
    width: 30%;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    margin: 0 2% 25px 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    height: 200px;
}
.meta {
    background: white;
    position: relative;
    font-size: 0.85em;
    padding: 8px 10px 4px;
    z-index: 3;
}

.tweetText {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.itemTitle {
    color: #999999;
    font-size: 1rem;
    margin: 4px 0 12px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.userData {
    white-space: nowrap;
}

.user {
  padding: 0 5px 0 0;
}

.username {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
    &:hover, &:focus {
      text-decoration: underline;
    }
}

.userImage {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  border: 0;
  display: inline-block;
}

a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
    &:hover, &:focus {
      text-decoration: underline;
    }
}

.usernameText {
    padding: 0 0 0 10px;
}      
