.gridItem___3CM03{
    float: left;
    width: 30%;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    margin: 0 2% 25px 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    height: 200px;
}
.meta___3cO2Y {
    background: white;
    position: relative;
    font-size: 0.85em;
    padding: 8px 10px 4px;
    z-index: 3;
}

.tweetText___3eV2b {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.itemTitle___3fmlp {
    color: #999999;
    font-size: 1rem;
    margin: 4px 0 12px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.userData___w67FW {
    white-space: nowrap;
}

.user___3t9-a {
  padding: 0 5px 0 0;
}

.username___3-Wx_ {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
    &:hover, &:focus {
      text-decoration: underline;
    }
}

.userImage___2iezZ {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  border: 0;
  display: inline-block;
}

a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
    &:hover, &:focus {
      text-decoration: underline;
    }
}

.usernameText___2Pfa_ {
    padding: 0 0 0 10px;
}      
.gridList___3mOhL {
  width: 100%;
  max-width: 940px;
  margin: 50px auto;
}

.gridWraper___2cnsS {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  padding: 0 20px;
  top: 100px;
}.search___37984 {
  width: 100%;
  position: relative
}

.searchTerm___FtP26 {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm___FtP26:focus{
  color: #00B4CC;
}

.searchButton___3JAk- {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.searchBarWrap___2nKTS{
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}.error___2eIKY {
  top: 100px;
  left: 60px;
  position: relative;
}

.loading___e5SXL {
  top: 150px;
  position: relative;
  margin: 0 auto;
  width: 100px;
}.descriptionWrapper___1Voxm {
    width: 40%;
    position: relative;
    margin: 80px auto;
}

.nameValue___2-raR {
    list-style: none;
    display: table;
    width: 100%;
    background: #feffe9;
    border: 1px solid #efefef;
    position: relative;
    color: #bf852d;
    padding: 30px 20px;
    font-family: helvetica, arial, san-serif;
}
.nameValue___2-raR:before, .nameValue___2-raR:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.nameValue___2-raR:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.nameValue___2-raR li {
    display: table-row;
}
.nameValue___2-raR li label {
    display: table-cell;
    width: 20%;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    padding: 10px 5px;
}
.nameValue___2-raR li span {
    display: table-cell;
    width: 50%; 
    border-spacing: 5px;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 5px;
}
.nameValue___2-raR li:last-child label,  .nameValue___2-raR li:last-child span {
    border-bottom: none;
}

.nameValue___2-raR a {
    text-decoration: underline;
}

a.backLink___1Uko1 {
    color: #22c6e2;
    text-decoration: none;
}

