.descriptionWrapper {
    width: 40%;
    position: relative;
    margin: 80px auto;
}

.nameValue {
    list-style: none;
    display: table;
    width: 100%;
    background: #feffe9;
    border: 1px solid #efefef;
    position: relative;
    color: #bf852d;
    padding: 30px 20px;
    font-family: helvetica, arial, san-serif;
}
.nameValue:before, .nameValue:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.nameValue:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.nameValue li {
    display: table-row;
}
.nameValue li label {
    display: table-cell;
    width: 20%;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    padding: 10px 5px;
}
.nameValue li span {
    display: table-cell;
    width: 50%; 
    border-spacing: 5px;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 5px;
}
.nameValue li:last-child label,  .nameValue li:last-child span {
    border-bottom: none;
}

.nameValue a {
    text-decoration: underline;
}

a.backLink {
    color: #22c6e2;
    text-decoration: none;
}

